<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${basePackage}.mapper.${bigClassName}Mapper">
    <resultMap id="BaseResultMap" type="${basePackage}.domain.${bigClassName}">
    </resultMap>

    <sql id="Base_Column_List">
    </sql>

    <sql id="Condition">
    </sql>

    <select id="getByPrimaryKey" resultMap="BaseResultMap">
    </select>

    <select id="getByParams" resultMap="BaseResultMap">
    </select>

    <select id="listSelective" resultMap="BaseResultMap">
    </select>

    <select id="pageSelective" resultMap="BaseResultMap">
    </select>

    <select id="count" resultType="java.lang.Integer" >
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
    </insert>

    <update id="updateByPrimaryKey">
    </update>

    <update id="updateByPrimaryKeyeSelective">
    </update>

    <delete id="deleteByPrimaryKey">
    </delete>
</mapper>
